html {
  font-family: sans-serif;
}

body {
  background-color: rgb(151, 48, 48);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  /* padding-top: 5rem; */
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.heading-primary {
  color: rgb(240, 216, 186);
}

.date {
  display: inline-block;
  color: #382711;
  font-size: 3rem;
  background-color: rgb(172, 114, 43);
  padding: 1.5rem 3.5rem;
  border-radius: 20rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.35);
  align-self: center;
}

.date span {
  display: inline-block;
  text-transform: uppercase;
}

.days {
  color: rgb(92, 42, 42);
  font-weight: 700;
}

@media screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 1.6rem;
  }

  .date {
    font-size: 1.6rem;
    width: 65%;
    text-align: center;
  }
}
